{
  "openapi": "3.0.1",
  "info": {
    "title": "PlanetScale API",
    "description": "\n<p>Another API description</p>\n&copy; 2023 PlanetScale, Inc.",
    "version": "v1",
    "x-copyright": "&copy; 2023 PlanetScale, Inc."
  },
  "servers": [
    {
      "url": "https://api.planetscale.com/v1"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": [
        "Authorization"
      ]
    }
  ],
  "tags": [
    {
      "name": "Database branches",
      "description": "\n<p>API endpoints for managing database branches.</p>\n"
    },
    {
      "name": "Databases",
      "description": "\n<p>API endpoints for managing databases within an organization.</p>\n"
    },
    {
      "name": "Database branch passwords",
      "description": "\n<p>API endpoints for managing database branch passwords.</p>\n"
    },
    {
      "name": "OAuth applications",
      "description": "\n<p>API endpoints for fetching OAuth applications.</p>\n"
    },
    {
      "name": "OAuth tokens",
      "description": "\n<p>API endpoints for managing OAuth tokens.</p>\n"
    },
    {
      "name": "Organizations",
      "description": "\n<p>API endpoints for managing organizations.</p>\n"
    },
    {
      "name": "Users",
      "description": "\n<p>API endpoints for fetching user information.</p>\n"
    },
    {
      "name": "Deploy requests",
      "description": "\n<p>API endpoints for managing database deploy requests.</p>\n"
    }
  ],
  "paths": {
    "/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List organizations",
        "description": "\n### Authorization\nA   OAuth token must have the following   scopes in order to use this API endpoint:\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| User | `read_organizations` |",
        "operationId": "list-organizations",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "If provided, specifies the page offset of returned results",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "If provided, specifies the number of returned results",
            "schema": {
              "type": "number",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the organizations for the current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/organizations/{name}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get an organization",
        "description": "\n### Authorization\nA   OAuth token must have the following   scopes in order to use this API endpoint:\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| User | `read_organizations` |\n| Organization | `read_organization` |",
        "operationId": "get-an-organization",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update an organization",
        "description": "\n### Authorization\nA   OAuth token must have the following   scopes in order to use this API endpoint:\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `write_organization` |",
        "operationId": "update-an-organization",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "billing_email": {
                    "type": "string",
                    "description": "The billing email for the organization"
                  },
                  "require_admin_for_production_access": {
                    "type": "boolean",
                    "description": "Whether or not only admins can access production"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Returns the updated organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/organizations/{name}/region": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List regions for an organization",
        "description": "\n### Authorization\nA   OAuth token must have the following   scopes in order to use this API endpoint:\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| User | `read_organizations` |\n| Organization | `read_organization` |",
        "operationId": "list-regions-for-an-organization",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "If provided, specifies the page offset of returned results",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "If provided, specifies the number of returned results",
            "schema": {
              "type": "number",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the organization's regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/organizations/{organization}/databases": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "List databases",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_database`, `delete_database`, `write_database`, `read_branch`, `delete_branch`, `create_branch`, `delete_production_branch`, `connect_branch`, `connect_production_branch`, `delete_branch_password`, `delete_production_branch_password`, `read_deploy_request`, `create_deploy_request`, `approve_deploy_request`, `read_comment`, `create_comment`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_databases` |",
        "operationId": "list-databases",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the database belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "If provided, specifies the page offset of returned results",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "If provided, specifies the number of returned results",
            "schema": {
              "type": "number",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the databases for an organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Databases"
        ],
        "summary": "Create a database",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `create_databases`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `create_databases` |",
        "operationId": "create-a-database",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the database belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the database"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes about the database"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Returns the created database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/organizations/{organization}/databases/{database}/branches": {
      "get": {
        "tags": [
          "Database branches"
        ],
        "summary": "List branches",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_branch`, `delete_branch`, `create_branch`, `connect_production_branch`, `connect_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_branches` |\n| Database | `read_branches` |\n| Branch | `read_branch` |",
        "operationId": "list-branches",
        "parameters": [
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "If provided, specifies the page offset of returned results",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "If provided, specifies the number of returned results",
            "schema": {
              "type": "number",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns database branches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Database branches"
        ],
        "summary": "Create a branch",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `create_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `write_branches` |\n| Database | `write_branches` |",
        "operationId": "create-a-branch",
        "parameters": [
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name",
                  "parent_branch"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the branch"
                  },
                  "parent_branch": {
                    "type": "string",
                    "description": "Parent branch"
                  },
                  "backup_id": {
                    "type": "string",
                    "description": "If provided, restores the backup's schema and data to the new branch"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Returns the created branch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/passwords": {
      "get": {
        "tags": [
          "Database branch passwords"
        ],
        "summary": "List branch passwords",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_branch`, `delete_branch`, `create_branch`, `connect_production_branch`, `connect_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `manage_passwords` |\n| Database | `manage_passwords` |\n| Branch | `manage_passwords` |",
        "operationId": "list-branch-passwords",
        "parameters": [
          {
            "name": "branch",
            "in": "path",
            "description": "The name of the branch the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "read_only_region_id",
            "in": "query",
            "description": "A read-only region of the database branch. If present, the password results will be filtered to only those in the region",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "If provided, specifies the page offset of returned results",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "If provided, specifies the number of returned results",
            "schema": {
              "type": "number",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the passwords for the database branch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Database branch passwords"
        ],
        "summary": "Create a branch password",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `connect_production_branch`, `create_branch_password`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `manage_passwords` |\n| Database | `manage_passwords` |\n| Branch | `manage_passwords` |",
        "operationId": "create-a-branch-password",
        "parameters": [
          {
            "name": "branch",
            "in": "path",
            "description": "The name of the branch the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "description": "The database role of the password (i.e. admin)",
                    "enum": [
                      "reader",
                      "writer",
                      "admin",
                      "readwriter"
                    ]
                  },
                  "ttl": {
                    "type": "number",
                    "description": "Time to live (in seconds) for the password. The password will be invalid when TTL has passed"
                  },
                  "read_only_region_id": {
                    "type": "string",
                    "description": "A read-only region of the database branch"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Creates a database branch password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/passwords/{id}": {
      "get": {
        "tags": [
          "Database branch passwords"
        ],
        "summary": "Get a branch password",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_branch`, `delete_branch`, `create_branch`, `connect_production_branch`, `connect_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `manage_passwords` |\n| Database | `manage_passwords` |\n| Branch | `manage_passwords` |",
        "operationId": "get-a-branch-password",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the password",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "description": "The name of the branch the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "read_only_region_id",
            "in": "query",
            "description": "A read-only region of the database branch. If present, the password results will be filtered to only those in the region",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the database branch password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Database branch passwords"
        ],
        "summary": "Delete a branch password",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `delete_production_branch_password`, `delete_branch_password`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `manage_passwords`, `manage_production_branch_passwords` |\n| Database | `manage_passwords`, `manage_production_branch_passwords` |\n| Branch | `manage_passwords` |",
        "operationId": "delete-a-branch-password",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the password",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "description": "The name of the branch the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes the database branch password",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Database branch passwords"
        ],
        "summary": "Update a branch password",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `connect_production_branch`, `create_branch_password`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `manage_passwords` |\n| Database | `manage_passwords` |\n| Branch | `manage_passwords` |",
        "operationId": "update-a-branch-password",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the password",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "description": "The name of the branch the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "display_name"
                ],
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "The display name for the password"
                  },
                  "read_only_region_id": {
                    "type": "string",
                    "description": "A read-only region of the database branch. If present, the password results will be filtered to only those in the region"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Updates a database branch password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/passwords/{id}/renew": {
      "post": {
        "tags": [
          "Database branch passwords"
        ],
        "summary": "Renew a branch password",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `connect_production_branch`, `create_branch_password`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `manage_passwords` |\n| Database | `manage_passwords` |\n| Branch | `manage_passwords` |",
        "operationId": "renew-a-branch-password",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the password",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "description": "The name of the branch the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the password belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "read_only_region_id": {
                    "type": "string",
                    "description": "A read-only region of the database branch. If present, the password results will be filtered to only those in the region"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Updates a database branch password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{name}": {
      "get": {
        "tags": [
          "Database branches"
        ],
        "summary": "Get a branch",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_branch`, `delete_branch`, `create_branch`, `connect_production_branch`, `connect_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_branches` |\n| Database | `read_branches` |\n| Branch | `read_branch` |",
        "operationId": "get-a-branch",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the branch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns information about a branch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Database branches"
        ],
        "summary": "Delete a branch",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `delete_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `delete_branches`, `delete_production_branches` |\n| Database | `delete_branches`, `delete_production_branches` |\n| Branch | `delete_branch` |",
        "operationId": "delete-a-branch",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the branch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a branch",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{name}/demote": {
      "post": {
        "tags": [
          "Database branches"
        ],
        "summary": "Demote a branch",
        "description": "\n<p>Demote a branch from production to development</p>\n\n### Authorization\nA   OAuth token must have the following   scopes in order to use this API endpoint:\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `demote_branches` |\n| Database | `demote_branches` |",
        "operationId": "demote-a-branch",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Demotes a branch from production to development",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{name}/demotion-request": {
      "get": {
        "tags": [
          "Database branches"
        ],
        "summary": "Get a demotion request",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `connect_branch`, `read_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_branches` |\n| Database | `read_branches` |\n| Branch | `read_branch` |",
        "operationId": "get-a-demotion-request",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the branch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the branch demotion request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Database branches"
        ],
        "summary": "Cancel or deny a demotion request",
        "description": "\n<p>Cancels or denies a demotion request for a database branch</p>\n\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `demote_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `demote_branches` |\n| Database | `demote_branches` |",
        "operationId": "cancel-or-deny-a-demotion-request",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the branch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Undoes a demotion request for a branch",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{name}/promotion-request": {
      "get": {
        "tags": [
          "Database branches"
        ],
        "summary": "Get a promotion request",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `connect_production_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `promote_branches` |\n| Database | `promote_branches` |",
        "operationId": "get-a-promotion-request",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the branch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The promotion request for a branch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Database branches"
        ],
        "summary": "Create a promotion request",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `connect_production_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `promote_branches` |\n| Database | `promote_branches` |",
        "operationId": "create-a-promotion-request",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the branch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The branch promotion request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{name}/schema": {
      "get": {
        "tags": [
          "Database branches"
        ],
        "summary": "Get a branch schema",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_branch`, `delete_branch`, `create_branch`, `connect_production_branch`, `connect_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_branches` |\n| Database | `read_branches` |\n| Branch | `read_branch` |",
        "operationId": "get-a-branch-schema",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the branch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyspace",
            "in": "query",
            "description": "If provided, the schema for this keyspace is returned",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the schema for the branch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{name}/status": {
      "get": {
        "tags": [
          "Database branches"
        ],
        "summary": "Get branch status",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_branch`, `delete_branch`, `create_branch`, `connect_production_branch`, `connect_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_branches` |\n| Database | `read_branches` |\n| Branch | `read_branch` |",
        "operationId": "get-branch-status",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the branch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the branch belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the branch status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-queue": {
      "get": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "Get a deploy queue",
        "description": "\n<p>Get the deploy queue for a database</p>\n\n",
        "operationId": "get-a-deploy-queue",
        "parameters": [
          {
            "name": "database",
            "in": "path",
            "description": "The name of the deploy request's database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the deploy request's organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deploy queue for a database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests": {
      "get": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "List deploy requests",
        "description": "\n<p>List deploy requests for a database</p>\n\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_deploy_requests` |\n| Database | `read_deploy_requests` |",
        "operationId": "list-deploy-requests",
        "parameters": [
          {
            "name": "database",
            "in": "path",
            "description": "The name of the deploy request's database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the deploy request's organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "If provided, specifies the page offset of returned results",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "If provided, specifies the number of returned results",
            "schema": {
              "type": "number",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of deploy requests for a database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "Create a deploy request",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_requests`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `write_deploy_requests` |\n| Database | `write_deploy_requests` |",
        "operationId": "create-a-deploy-request",
        "parameters": [
          {
            "name": "database",
            "in": "path",
            "description": "The name of the deploy request's database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the deploy request's organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "The number of the deploy request"
                  },
                  "branch": {
                    "type": "string",
                    "description": "The name of the branch the deploy request is created from"
                  },
                  "into_branch": {
                    "type": "string",
                    "description": "The name of the branch the deploy request will be merged into"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes about the deploy request"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Returns the created deploy request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}": {
      "get": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "Get a deploy request",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_deploy_requests` |\n| Database | `read_deploy_requests` |",
        "operationId": "get-a-deploy-request",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The number of the deploy request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the deploy request's database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the deploy request's organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns information about a deploy request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "Close a deploy request",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `write_deploy_requests` |\n| Database | `write_deploy_requests` |",
        "operationId": "close-a-deploy-request",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The number of the deploy request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the deploy request's database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the deploy request's organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string",
                    "description": "The deploy request will be updated to this state",
                    "enum": [
                      "closed"
                    ]
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Returns the updated deploy request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/apply-deploy": {
      "post": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "Complete a gated deploy request",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "operationId": "complete-a-gated-deploy-request",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The number of the deploy request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the deploy request's database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the deploy request's organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deploy request whose deployment has been completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/auto-apply": {
      "put": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "Update auto-apply for deploy request",
        "description": "\n<p>Enables or disabled the auto-apply setting for a deploy request</p>\n\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "operationId": "update-auto-apply-for-deploy-request",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The number of the deploy request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the deploy request's database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the deploy request's organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deploy request whose auto-apply setting was updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/cancel": {
      "post": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "Cancel a queued deploy request",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "operationId": "cancel-a-queued-deploy-request",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The number of the deploy request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the deploy request's database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the deploy request's organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deploy request whose deployment was canceled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/complete-deploy": {
      "post": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "Complete an errored deploy",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "operationId": "complete-an-errored-deploy",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The number of the deploy request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the deploy request's database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the deploy request's organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the completed deploy request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/deploy": {
      "post": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "Queue a deploy request",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "operationId": "queue-a-deploy-request",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The number of the deploy request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the deploy request belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the deploy request belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deployed deploy request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/deployment": {
      "get": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "Get a deployment",
        "description": "\n<p>Get the deployment for a deploy request</p>\n\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_deploy_requests` |\n| Database | `read_deploy_requests` |",
        "operationId": "get-a-deployment",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The number of the deploy request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the deploy request's database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the deploy request's organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deployment for a deploy request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/operations": {
      "get": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "List deploy operations",
        "description": "\n<p>List deploy operations for a deploy request</p>\n\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_deploy_requests` |\n| Database | `read_deploy_requests` |",
        "operationId": "list-deploy-operations",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The number of the deploy request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the database the deploy request belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the deploy request belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "If provided, specifies the page offset of returned results",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "If provided, specifies the number of returned results",
            "schema": {
              "type": "number",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of deploy operations for the deploy request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/revert": {
      "post": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "Complete a revert",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "operationId": "complete-a-revert",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The number of the deploy request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the deploy request's database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the deploy request's organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deploy request that was reverted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/skip-revert": {
      "post": {
        "tags": [
          "Deploy requests"
        ],
        "summary": "Skip revert period",
        "description": "\n<p>Skips the revert period for a deploy request</p>\n\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "operationId": "skip-revert-period",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The number of the deploy request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "description": "The name of the deploy request's database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the deploy request's organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deploy request whose deploy revert was skipped",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{name}": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "Get a database",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_database`, `delete_database`, `write_database`, `read_branch`, `delete_branch`, `create_branch`, `delete_production_branch`, `connect_branch`, `connect_production_branch`, `delete_branch_password`, `delete_production_branch_password`, `read_deploy_request`, `create_deploy_request`, `approve_deploy_request`, `read_comment`, `create_comment`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_databases` |\n| Database | `read_database` |",
        "operationId": "get-a-database",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the database belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Databases"
        ],
        "summary": "Delete a database",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `delete_database`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `delete_databases` |\n| Database | `delete_database` |",
        "operationId": "delete-a-database",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the database belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a database",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Databases"
        ],
        "summary": "Update database settings",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `write_database`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `write_databases` |\n| Database | `write_database` |",
        "operationId": "update-database-settings",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the database belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notes": {
                    "type": "string",
                    "description": "Notes on the database"
                  },
                  "automatic_migrations": {
                    "type": "boolean",
                    "description": "Whether or not to copy migration data to new branches and in deploy requests."
                  },
                  "migration_framework": {
                    "type": "string",
                    "description": "A migration framework to use on the database"
                  },
                  "migration_table_name": {
                    "type": "string",
                    "description": "Name of table to use as migration table for the database"
                  },
                  "require_approval_for_deploy": {
                    "type": "boolean",
                    "description": "Whether or not deploy requests must be approved by a database administrator other than the request creator"
                  },
                  "restrict_branch_region": {
                    "type": "boolean",
                    "description": "Whether or not to limit branch creation to the AWS us-east-1 region."
                  },
                  "allow_data_branching": {
                    "type": "boolean",
                    "description": "Whether or not data branching is allowed on the database"
                  },
                  "insights_raw_queries": {
                    "type": "boolean",
                    "description": "Whether or not full queries should be collected from the database"
                  },
                  "production_branch_web_console": {
                    "type": "boolean",
                    "description": "Whether or not the web console can be used on the production branch of the database"
                  },
                  "default_branch": {
                    "type": "string",
                    "description": "The default branch of the database"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Returns the updated database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/organizations/{organization}/databases/{name}/promotion-requests": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "List database promotion requests",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_database`, `delete_database`, `write_database`, `read_branch`, `delete_branch`, `create_branch`, `delete_production_branch`, `connect_branch`, `connect_production_branch`, `delete_branch_password`, `delete_production_branch_password`, `read_deploy_request`, `create_deploy_request`, `approve_deploy_request`, `read_comment`, `create_comment`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_databases` |\n| Database | `read_database` |",
        "operationId": "list-database-promotion-requests",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the database belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "If provided, specifies the page offset of returned results",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "If provided, specifies the number of returned results",
            "schema": {
              "type": "number",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Promotion requests for the database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/organizations/{organization}/databases/{name}/read-only-regions": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "List read-only regions",
        "description": "\n<p>List read-only regions for the database’s default branch</p>\n\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_database`, `delete_database`, `write_database`, `read_branch`, `delete_branch`, `create_branch`, `delete_production_branch`, `connect_branch`, `connect_production_branch`, `delete_branch_password`, `delete_production_branch_password`, `read_deploy_request`, `create_deploy_request`, `approve_deploy_request`, `read_comment`, `create_comment`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_branches` |\n| Database | `read_branches` |",
        "operationId": "list-read-only-regions",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the database belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "If provided, specifies the page offset of returned results",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "If provided, specifies the number of returned results",
            "schema": {
              "type": "number",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of the database's read-only regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/organizations/{organization}/databases/{name}/regions": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "List database regions",
        "description": "\n### Authorization\nA service token or OAuth token must have the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_database`, `delete_database`, `write_database`, `read_branch`, `delete_branch`, `create_branch`, `delete_production_branch`, `connect_branch`, `connect_production_branch`, `delete_branch_password`, `delete_production_branch_password`, `read_deploy_request`, `create_deploy_request`, `approve_deploy_request`, `read_comment`, `create_comment`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_databases` |\n| Database | `read_database` |",
        "operationId": "list-database-regions",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the database belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "If provided, specifies the page offset of returned results",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "If provided, specifies the number of returned results",
            "schema": {
              "type": "number",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the available regions for a database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/organizations/{organization}/oauth-applications": {
      "get": {
        "tags": [
          "OAuth applications"
        ],
        "summary": "List OAuth applications",
        "description": "\n### Authorization\nA service token   must have the following access   in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_oauth_applications`\n\n",
        "operationId": "list-oauth-applications",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The name of the organization the OAuth application belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "If provided, specifies the page offset of returned results",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "If provided, specifies the number of returned results",
            "schema": {
              "type": "number",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
[...]
